html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}


body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.container-one {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.dark-one {
    background-color: #1f2937;
    flex: 0 0 auto;
    padding: 10px 300px;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
}

.header {
    display: flex;
    color: lightgray;
    gap: 10px;
}

.header strong {
    margin-right: auto;
    font-size: large;
}

a {
    text-decoration: none;
    color: grey;
}

.main {
    display: flex;
}

.text-box{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.text-box h1{
    color: lightgray;
    margin-bottom: 0;
    margin-top: 5px;
    width: 300px;
    font-size: 35px;
}
.text-box p {
    width: 400px;
    color: grey;
    margin-top: 5px;
}

.text-box button {
    width: 70px;
    color: lightgray;
    background-color: rgb(129, 101, 255);
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 4px 7px;
    margin-top: 10px;
    font-weight: 550;
}

.ezio {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.light-one {
    background-color: white;
    flex: 0 0 auto;
    min-height: 50vh;
}